body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
img {
  display: block;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container-nav {
  display: flex;
  align-items: center;
  width: 1158px;
  margin: 0 auto;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.container {
  max-width: 1158px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  position: relative;
}
.nav-link :hover {
  color: #404bbf;
}
.current {
  color: #404bbf;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list .current::before {
  background-color: #fff;
}
.nav-list .current::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.nav-ref {
  padding: 24px 0;
}
.contact-info .contact-list {
  display: flex;
  align-items: center;
}
.contact-info {
  font-style: normal;
  margin-left: auto;
}
.contact-list {
  gap: 40px;
}
.tran {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

li {
  margin-right: 0;
}
.main-nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  padding: 24px 0;
}
.logo-s {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.link:hover {
  color: #404bbf;
}
.link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.contact-info {
  font-style: normal;
}
.contact {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact:hover {
  color: #404bbf;
}
.contact:focus {
  color: #404bbf;
}
.hero-section {
  background: #2e2f42;
  padding: 188px 0 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  max-width: 1440px;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto 48px auto;
}
.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4d5ae5;
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover {
  background: #404bbf;
}
.hero-button:focus {
  background-color: #404bbf;
}
.ul-feature {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.feature-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.feature-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.feature-subtitle {
  margin-bottom: 8px;
}
.li-feature {
  width: calc((100% - 3 * 24px) / 4);
}
.feature-sect {
  padding: 120px 0;
}
.feature-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}
.team {
  padding: 120px 0;
  background: #f4f4fd;
}
.card-team {
  display: flex;
  align-items: center;
  padding-bottom: 120px;
  gap: 24px;
}
.card-image {
  display: block;
  max-width: 100%;
}
.card-text {
  display: block;
  align-items: center;
  padding: 32px 0;
}
.team-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  display: block;
  padding-top: 120px;
  margin-bottom: 72px;
}
.team-member {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-weight: 500;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.teammate-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.teammate-role {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.soc-icon {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.li-icon {
  width: 40px;
  height: 40px;
}
.icon-soc {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.li-icon :hover {
  background-color: #31d0aa;
}
.li-icon :focus {
  background-color: #31d0aa;
}
.team-soc-icon {
  fill: #f4f4fd;
}
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  background: #fff;
  list-style: none;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-card {
  background: url("path_to_image");
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-card-d {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  list-style: none;
  margin-bottom: 8px;
}
.porfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-slide {
  position: relative;
  overflow: hidden;
}
.portfolio-slide-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover .portfolio-slide-text {
  transform: translateY(0%);
}
.site-footer {
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  background: #2e2f42;
  padding: 100px 0;
}
.logo-part-studio {
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  color: #f4f4fd;
  text-transform: uppercase;
}
.footer-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.logo-f {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
a {
  text-decoration: none;
}
.container-f {
}
.soc-foot {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.foot-icon {
  display: flex;
  gap: 16px;
}
.icon-li-foot {
  width: 40px;
  height: 40px;
}
.icon-foot {
}
.href-foot-soc:hover {
  background-color: #31d0aa;
}
.href-foot-soc:focus {
  background-color: #31d0aa;
}
.svg-icon-f {
  fill: #f4f4fd;
}
.container-f-lt {
  margin-right: 120px;
}
.href-foot-soc {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-footer .container {
  display: flex;
  align-items: baseline;
}
